@font-face {
  font-family: 'SofiaWeb';
  src: url('../fonts/sofia/hinted-SofiaPro-Medium.eot');
  src: url('../fonts/sofia/hinted-SofiaPro-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/sofia/hinted-SofiaPro-Medium.woff') format('woff'),
    url('../fonts/sofia/hinted-SofiaPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SofiaWeb';
  src: url('../fonts/sofia/hinted-SofiaProRegular.eot');
  src: url('../fonts/sofia/hinted-SofiaProRegular.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/sofia/hinted-SofiaProRegular.woff') format('woff'),
    url('../fonts/sofia/hinted-SofiaProRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SofiaWeb';
  src: url('../fonts/sofia/hinted-SofiaPro-Light.eot');
  src: url('../fonts/sofia/hinted-SofiaPro-Light.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/sofia/hinted-SofiaPro-Light.woff') format('woff'),
    url('../fonts/sofia/hinted-SofiaPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SofiaWeb';
  src: url('../fonts/sofia/hinted-SofiaPro-SemiBold.eot');
  src: url('../fonts/sofia/hinted-SofiaPro-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/sofia/hinted-SofiaPro-SemiBold.woff') format('woff'),
    url('../fonts/sofia/hinted-SofiaPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SofiaWeb';
  src: url('../fonts/sofia/hinted-SofiaPro-Bold.eot');
  src: url('../fonts/sofia/hinted-SofiaPro-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/sofia/hinted-SofiaPro-Bold.woff') format('woff'),
    url('../fonts/sofia/hinted-SofiaPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TiemposWeb';
  src: url('../fonts/tiempos/hinted-TiemposHeadline-Bold.eot');
  src: url('../fonts/tiempos/hinted-TiemposHeadline-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/tiempos/hinted-TiemposHeadline-Bold.woff') format('woff'),
    url('../fonts/tiempos/hinted-TiemposHeadline-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TiemposWeb';
  src: url('../fonts/tiempos/hinted-TiemposHeadline-BoldItalic.eot');
  src: url('../fonts/tiempos/hinted-TiemposHeadline-BoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/tiempos/hinted-TiemposHeadline-BoldItalic.woff')
      format('woff'),
    url('../fonts/tiempos/hinted-TiemposHeadline-BoldItalic.ttf')
      format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'TiemposWeb';
  src: url('../fonts/tiempos/hinted-TiemposWebHeadline-Light.eot');
  src: url('../fonts/tiempos/hinted-TiemposWebHeadline-Light.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/tiempos/hinted-TiemposWebHeadline-Light.woff') format('woff'),
    url('../fonts/tiempos/hinted-TiemposWebHeadline-Light.ttf')
      format('truetype');
  font-weight: 300;
  font-style: normal;
}
