.event {
  padding-top: 45px;
  padding-bottom: 45px;
  position: relative;
  // background-color: #fff4e4;
  height: 100%;
  overflow: scroll;
  &__title {
    font-family: $serif;
    // letter-spacing: -0.1px;
    font-size: 3.6rem;
    line-height: 1.4;
    margin-top: 45px;
    margin-bottom: 20px;
  }
  &__subtitle {
    font-family: $serif;
    font-size: 2.4rem;
    line-height: 1.1;
    margin-bottom: 15px;
    color: #121212;
  }
  &__location,
  &__date,
  &__time {
    margin-top: 10px;
    // color: #333;
  }
  &__description {
    // color: #333;
    line-height: 1.6;
  }
  &__image {
    background-color: #ddd;
    width: 100%;
    height: auto;
    min-height: 250px;
  }
}

.hr {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.15);
  margin: 30px 0;
}
