$spacing: 12px;
$spacing-lg: 24px;
$height: 32px;
$height-lg: 64px;
$shimmer-height: 300px;

.event-shimmer {
  height: $shimmer-height;
  margin-top: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  &__background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.04) 10%,
      rgba(0, 0, 0, 0.08) 30%,
      rgba(0, 0, 0, 0.04) 50%
    );
    background-size: 490px 120px;
    height: $height-lg + $spacing-lg + ($height * 4) + ($spacing * 3);
    position: relative;
  }
  &__mask {
    // background-color: #feb239;
    background-color: $color-bg;
    position: absolute;

    &--title-right {
      top: 0;
      right: 0;
      height: $height-lg;
      width: 120px;
    }
    &--title-bottom {
      top: $height-lg;
      right: 0;
      height: $spacing-lg;
      width: 100%;
    }
    &--location-right {
      top: $height-lg + $spacing-lg;
      right: 0;
      height: $height;
      width: 42px;
    }
    &--location-bottom {
      top: $height-lg + $spacing-lg + $height;
      right: 0;
      height: $spacing;
      width: 100%;
    }
    &--date-right {
      top: $height-lg + $spacing-lg + $height + $spacing;
      right: 0;
      height: $height;
      width: 200px;
    }
    &--date-bottom {
      top: $height-lg + $spacing-lg + ($height * 2) + $spacing;
      right: 0;
      height: $spacing;
      width: 100%;
    }
    &--time-right {
      top: $height-lg + $spacing-lg + ($height * 2) + ($spacing * 2);
      right: 0;
      height: $height;
      width: 75%;
    }
    &--time-bottom {
      top: $height-lg + $spacing-lg + ($height * 3) + ($spacing * 2);
      right: 0;
      height: $spacing;
      width: 100%;
    }
    &--price-right {
      top: $height-lg + $spacing-lg + ($height * 3) + ($spacing * 3);
      right: 0;
      height: $height;
      width: 85%;
    }
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}
