.header {
  background-color: $color-bg;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 3;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);

  &__links {
    overflow-x: scroll;
    white-space: nowrap;
  }

  &__link {
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-right: 30px;
    display: inline-block;
    padding: 15px 0px 17px 0px;
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 300ms;
    position: relative;

    @include screen(small) {
      margin-right: 20px;
    }

    .header__date {
      display: inline-block;
      margin-left: 4px;
      &:before {
        content: '/';
        margin-right: 4px;
      }
    }

    &:after {
      position: absolute;
      height: 3px;
      width: 0;
      bottom: 0;
      left: 0;
      background-color: black;
      transition: width 300ms;
      content: '';
    }

    &:last-child {
      margin-right: 0;
    }

    &--active {
      color: black;
      &:after {
        width: 100%;
      }
    }
  }
}
