.side--left {
  background-color: #f06669;
  width: 100% - $sideWidth;
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  &:after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    background-size: cover;
    // background-image: url('https://s-media-cache-ak0.pinimg.com/564x/15/2d/2b/152d2be4306a5b5f48abfac14cece76a.jpg');
    // background-image: url('https://s-media-cache-ak0.pinimg.com/564x/0d/00/23/0d00239a73087e19eec1a5f3c25a4b41.jpg');
    // background-image: url('https://s-media-cache-ak0.pinimg.com/564x/bb/fc/7d/bbfc7d89f7090f2b0e6f2fa206482e2a.jpg');
    // background-image: url('https://s-media-cache-ak0.pinimg.com/564x/bb/fc/7d/bbfc7d89f7090f2b0e6f2fa206482e2a.jpg');
    background-image: url('https://preview.ibb.co/cKPtH5/WHATSPOPPING_PATTERN_1.png');
  }
  @include screen(med-small) {
    display: none;
  }
}

.site {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  padding: 75px 15px;
  margin: 0 auto;
  background-color: black;
  color: white;
  border: 3px solid white;
  text-align: center;
  max-width: 100%;
  &__title {
    font-size: 5rem;
    font-family: $serif;
    line-height: 1.2;
    @include screen(med) {
      font-size: 3rem;
    }
  }
  &__divider {
    height: 3px;
    width: 50px;
    background-color: white;
    margin: 36px auto;
  }
  &__description {
    max-width: 30rem;
    font-size: 1.6rem;
    margin: 0 auto;
  }
}
