.menu-toggle {
  height: 42px;
  background-color: black;
  width: 42px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 3px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
  border: none;
  display: none;

  span {
    width: 20px;
    height: 2px;
    left: 11px;
    background-color: white;
    display: block;
    position: absolute;

    &:first-child {
      top: 14px;
    }

    &:nth-child(2) {
      top: 20px;
    }

    &:last-child {
      top: 26px;
    }
  }
}
