.site {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 4;
  //   border-right: 1px solid #eee;
  //   background: #0b1337;
  padding-bottom: 100px;
  background-color: black;
  //   background-color: #4f5d9c;
  // color: #121212;
  color: white;
  text-align: center;
  //   color: #0b1337;
  &__title {
    font-size: 5.2rem;
    font-family: $serif;
    line-height: 1.2;
  }
  &__divider {
    height: 5px;
    width: 50px;
    background-color: white;
    // background-color: #121212;
    // background-color: #0b1337;
    // background-color: #4959a3;
    // background-color: #fda82c;
    margin: 36px auto;
    // border-radius: 6px;
  }
  &__description {
    width: 30rem;
    font-size: 1.8rem;
    margin: 0 auto;
    // color: #f9fafb;
  }
}
