@font-face {
	font-family: 'TiemposWeb';
	src: url('fonts/tiempos/hinted-TiemposHeadline-Bold.eot');
	src: url('fonts/tiempos/hinted-TiemposHeadline-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/tiempos/hinted-TiemposHeadline-Bold.woff') format('woff'),
		url('fonts/tiempos/hinted-TiemposHeadline-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TiemposWeb';
	src: url('fonts/tiempos/hinted-TiemposHeadline-BoldItalic.eot');
	src: url('fonts/tiempos/hinted-TiemposHeadline-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/tiempos/hinted-TiemposHeadline-BoldItalic.woff') format('woff'),
		url('fonts/tiempos/hinted-TiemposHeadline-BoldItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'TiemposWeb';
	src: url('fonts/tiempos/hinted-TiemposWebHeadline-Light.eot');
	src: url('fonts/tiempos/hinted-TiemposWebHeadline-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/tiempos/hinted-TiemposWebHeadline-Light.woff') format('woff'),
		url('fonts/tiempos/hinted-TiemposWebHeadline-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

