$sans-serif: 'SofiaWeb', 'Helvetica Neue', 'Segoe UI', 'Ubuntu', 'Arial',
  sans-serif;
$serif: 'TiemposWeb', 'Playfair Display', 'Georgia', serif;

$sideWidth: 61.803398875%;
// $sideWidth: 100%;

$color-bg: #fff4e4;
// $color-bg: #dac086;
// $color-bg: #fadb7f;
$color-bg: white;
// $color-bg: #fbf0a0;
