.fade-enter {
  opacity: 0;
  transform: translateX(-100px);
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
  transform: translateX(0px);
}

.fade-appear {
  opacity: 0;
}

.fade-appear.example-appear-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-leave {
  opacity: 0;
  transform: translateX(-100px);
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 15%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.anim {
  animation-duration: 300ms;
  animation-fill-mode: both;
}

.animLong {
  animation-duration: 500ms;
  animation-fill-mode: both;
}

.animExtraLong {
  animation-duration: 750ms;
  animation-fill-mode: both;
}

@for $i from 0 through 8 {
  .anim-delay--#{$i} {
    animation-delay: 100ms + ($i * 100);
  }
}

.animFadeIn {
  @extend .fadeIn;
  animation-duration: 300ms;
  animation-fill-mode: both;
  // @extend .animExtraLong;
  // animation-delay: 650ms;
}

.animFadeInUp {
  @extend .fadeInUp;
  @extend .anim;
}
